<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.genfu.genfu.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.genfu.genfu.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="com.genfu.Genfu.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.genfu.Genfu.contribution1">
         <action
               label="genfu arch"
               class="com.genfu.genfu.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.genfu.Genfu.addRemoveNatureAction">
         </action>
      </objectContribution>
      <objectContribution
            id="com.genfu.Genfu.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="com.genfu.Genfu.menu1"
               label="genfu arch"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.genfu.genfu.popup.actions.NewAction"
               enablesFor="1"
               id="com.genfu.Genfu.newAction"
               label="gjsp"
               menubarPath="com.genfu.Genfu.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="genfu"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="com.genfu.test">
      </view>
      <category
            name="Sample Category"
            id="com.genfu.Genfu">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.genfu.Genfu"
            class="com.genfu.genfu.views.SampleView"
            id="com.genfu.genfu.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.genfu.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.genfu.test">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="com.genfu.test">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.genfu.genfu.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="com.genfu.Genfu.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.genfu.genfu.editors.XMLEditor"
            id="com.genfu.genfu.editors.XMLEditor">
      </editor>
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="com.genfu.genfu.editors.MultiPageEditorContributor"
            class="com.genfu.genfu.editors.MultiPageEditor"
            id="com.genfu.genfu.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="com.genfu.Genfu.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="com.genfu.Genfu.commands.category"
            id="com.genfu.Genfu.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.genfu.Genfu.commands.sampleCommand"
            class="com.genfu.genfu.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.genfu.Genfu.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="com.genfu.Genfu.menus.sampleMenu">
            <command
                  commandId="com.genfu.Genfu.commands.sampleCommand"
                  mnemonic="S"
                  id="com.genfu.Genfu.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.genfu.Genfu.toolbars.sampleToolbar">
            <command
                  commandId="com.genfu.Genfu.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="com.genfu.Genfu.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="com.genfu.Genfu.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="com.genfu.genfu.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.genfu.genfu.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Sample File Import"
            id="com.genfu.genfu.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import File"
            icon="icons/sample.gif"
            category="com.genfu.genfu.importWizards.sampleCategory"
            class="com.genfu.genfu.importWizards.ImportWizard"
            id="com.genfu.genfu.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="com.genfu.Genfu">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="com.genfu.Genfu"
            class="com.genfu.genfu.wizards.SampleNewWizard"
            id="com.genfu.genfu.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="com.genfu.genfu.perspectives.RelEngPerspective"
            id="com.genfu.genfu.perspectives.RelEngPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="com.genfu.genfu.preferences.SamplePreferencePage"
            id="com.genfu.genfu.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.genfu.genfu.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Sample Page"
            nameFilter="*.*"
            class="com.genfu.genfu.properties.SamplePropertyPage"
            id="com.genfu.genfu.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.genfu.genfu.splashHandlers.InteractiveSplashHandler"
            id="com.genfu.genfu.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="com.genfu.genfu.splashHandlers.interactive"
            productId="org.eclipse.sdk.ide">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.resources.variableResolvers">
      <variableResolver
            variable="com.genfu.Genfu.variableResolver1">
      </variableResolver>
   </extension>

</plugin>
