<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">



	<!-- <bean id="hibernatePersistenceProvider" class="com.foo.bar.configuration.HibernateExtendedPersistenceProvider"> 
		<property name="postInsertEventListeners"> <list> <ref bean="hibernateAuditLogListener" 
		/> </list> </property> <property name="preUpdateEventListeners"> <list> <ref 
		bean="hibernateAuditLogListener" /> </list> </property> <property name="preDeleteEventListeners"> 
		<list> <ref bean="hibernateAuditLogListener" /> </list> </property> </bean> -->

	<!-- post-processors for all standard config annotations -->
	<context:annotation-config />

	<!-- (The implicitly registered post-processors include AutowiredAnnotationBeanPostProcessor, 
		CommonAnnotationBeanPostProcessor, PersistenceAnnotationBeanPostProcessor, 
		as well as the aforementioned RequiredAnnotationBeanPostProcessor.) only 
		looks for annotations on beans in the same application context in which it 
		is defined. This means that, if you put <context:annotation-config/> in a 
		WebApplicationContext for a DispatcherServlet, it only checks for @Autowired 
		beans in your controllers, and not your services. See Section 16.2, “The 
		DispatcherServlet” for more information. -->
	<!-- <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" 
		/> -->
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" 
		/> -->


	<!-- <bean id="hibernateVendor" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> 
		<property name="database" value="H2" /> </bean> -->

	<!-- <bean id="h2_dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="org.h2.Driver" /> <property name="url" 
		value="jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE" /> <property name="username" 
		value="sa" /> <property name="password" value="" /> </bean> <bean id="h2_entityManagerFactory" 
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
		<property name="persistenceUnitName" value="genfu" /> <property name="dataSource" 
		ref="h2_dataSource" /> <property name="jpaDialect"> <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" 
		/> </property> <property name="jpaVendorAdapter"> <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> 
		<property name="showSql" value="true" /> <property name="generateDdl" value="true" 
		/> <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect" 
		/> </bean> </property> </bean> -->
	<bean class="com.genfu.reform.util.GenfuPropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:com/genfu/jdbc.properties" />
	</bean>

	<bean id="pg_dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="idleConnectionTestPeriod" value="60" />
		<property name="idleMaxAge" value="240" />
		<property name="maxConnectionsPerPartition" value="30" />
		<property name="minConnectionsPerPartition" value="10" />
		<property name="partitionCount" value="3" />
		<property name="acquireIncrement" value="5" />
		<property name="statementsCacheSize" value="100" />
		<property name="releaseHelperThreads" value="3" />

	</bean>

	<context:load-time-weaver />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="genfu" />
		<property name="dataSource" ref="pg_dataSource" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter" />

	</bean>
	<bean id="hibernateJpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="true" />
		<property name="generateDdl" value="true" />
		<property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="pg_dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="genfuCommonDao" class="com.genfu.reform.jpa.GenfuCommonDaoImpl" />
	<bean id="genfuAuthenticationImpl" class="com.genfu.reform.jpa.GenfuAuthenticationImpl"
		scope="prototype">
		<!-- <property name="pg_dataSource" ref="pg_dataSource" /> -->
	</bean>
	<bean id="genfuAuthenTicationServiceImpl" class="com.genfu.reform.service.GenfuAuthenTicationServiceImpl"
		scope="prototype">
		<property name="genfuAuthenticationImpl" ref="genfuAuthenticationImpl" />
	</bean>
	<bean id="fabricationFilterSQL" class="com.genfu.reform.util.FabricationFilterSQLImpl"
		scope="prototype" />
	<bean id="authValidImpl" class="com.genfu.reform.util.AuthValidImpl"
		scope="prototype">
		<property name="genfuCommonDao" ref="genfuCommonDao" />
	</bean>
	<bean id="genfuCommonService" class="com.genfu.reform.service.GenfuCommonServiceImpl">
		<property name="genfuCommonDao" ref="genfuCommonDao" />
		<property name="fabricationFilterSQL" ref="fabricationFilterSQL" />
		<property name="authValidImpl" ref="authValidImpl" />
	</bean>
	<bean class="com.genfu.reform.controller.GenfuCommonController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean id="eventDAO" class="com.genfu.reform.jpa.EventDAOImpl" />
	<bean id="eventService" class="com.genfu.reform.service.EventServiceImpl">
		<property name="eventDAO" ref="eventDAO" />
	</bean>
	<bean class="com.genfu.reform.controller.EventController" scope="prototype">
		<constructor-arg ref="eventService" />
	</bean>

	<bean class="com.genfu.reform.controller.NavigationNodeController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<!-- <bean id="userInfoDAO" class="com.genfu.reform.jpa.UserInfoDAOImpl" 
		/> <bean id="userInfoService" class="com.genfu.reform.service.UserInfoServiceImpl"> 
		<property name="userInfoDAO" ref="userInfoDAO" /> </bean> <bean id="actorInfoDAO" 
		class="com.genfu.reform.jpa.ActorInfoDAOImpl" /> <bean id="actorInfoService" 
		class="com.genfu.reform.service.ActorInfoServiceImpl"> <property name="actorInfoDAO" 
		ref="actorInfoDAO" /> </bean> -->

	<!-- <bean id="userSessionLogDAO" class="com.genfu.reform.jpa.UserSessionLogDAOImpl" 
		/> <bean id="userSessionLogService" class="com.genfu.reform.service.UserSessionLogServiceImpl"> 
		<property name="userSessionLogDAO" ref="userSessionLogDAO" /> </bean> -->

	<!-- <bean id="userInfoDAOImpl" class="com.genfu.reform.jpa.UserInfoDAOImpl" 
		/> <bean id="loginService" class="com.genfu.reform.service.LoginServiceImpl"> 
		<property name="userInfoDAO" ref="userInfoDAOImpl" /> </bean> -->
	<bean class="com.genfu.reform.controller.LoginController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>
	<bean class="com.genfu.reform.controller.ReLoginController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>
	<bean class="com.genfu.reform.controller.LoginDishesController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.DepartmentController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.ActorInfoController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean id="treeUtilService" scope="prototype"
		class="com.genfu.reform.util.TreeUtilImpl" />
	<bean id="naviViewsController"
		class="com.genfu.reform.controller.architecture.NaviViewsController"
		scope="prototype">
		<constructor-arg ref="genfuCommonService" />
		<constructor-arg ref="treeUtilService" />
	</bean>

	<bean class="com.genfu.reform.controller.RoleInfoController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.UserInfoController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.RoleNaviController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.NavigationNodesController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean id="dishfabricationFilterSQL" class="com.genfu.reform.util.DishFilterSQLImpl"
		scope="prototype" />
	<bean id="dishService" class="com.genfu.reform.service.DishServiceImpl"
		scope="prototype">
		<property name="genfuCommonDao" ref="genfuCommonDao" />
		<!-- <property name="dishfabricationFilterSQL" ref="dishfabricationFilterSQL" 
			/> -->
		<property name="authValidImpl" ref="authValidImpl" />
	</bean>
	<bean class="com.genfu.reform.controller.DishController" scope="prototype" />

	<bean class="com.genfu.reform.controller.CartController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.CatalogController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.CheckoutController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.AboutController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.FileController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.RoleInfosController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean id="orderDao" class="com.genfu.reform.jpa.OrderDaoImpl">
	</bean>
	<bean id="orderService" class="com.genfu.reform.service.OrderServiceImpl"
		scope="prototype">
		<property name="orderDAOImpl" ref="orderDao" />
		<property name="fabricationFilterSQL" ref="fabricationFilterSQL" />
	</bean>
	<bean class="com.genfu.reform.controller.OrderController" scope="prototype" />

	<bean id="orderItemDAOImpl" class="com.genfu.reform.jpa.OrderItemDAOTransaction"
		scope="prototype">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean id="orderItemServiceImpl" class="com.genfu.reform.service.OrderItemServiceImpl"
		scope="prototype">
		<property name="orderItemDAOImpl" ref="orderItemDAOImpl" />
		<property name="fabricationFilterSQL" ref="fabricationFilterSQL" />
	</bean>
	<bean class="com.genfu.reform.controller.OrderItemController"
		scope="prototype">
		<!-- <property name="genfuCommonService" ref="genfuCommonService" /> -->
		<!-- <property name="orderItemServiceImpl" ref="orderItemServiceImpl" /> -->
	</bean>
	<bean class="com.genfu.reform.controller.TagController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.TagsController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.TaggingController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.UserRoleController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean class="com.genfu.reform.controller.UserNavisController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>
	<bean class="com.genfu.reform.controller.OrderDishController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>
	<bean class="com.genfu.reform.controller.CartSettingController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>
	<bean class="com.genfu.reform.controller.MyOrderController" scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>
	<bean class="com.genfu.reform.controller.DishCommentController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>
	<bean class="com.genfu.reform.controller.GenfuConfigController"
		scope="prototype">
		<property name="genfuCommonService" ref="genfuCommonService" />
	</bean>

	<bean id="groupOrderitemService" class="com.genfu.reform.service.GroupOrderitemServiceImpl"
		scope="prototype">
		<property name="genfuCommonDao" ref="genfuCommonDao" />
		<property name="fabricationFilterSQL" ref="fabricationFilterSQL" />
		<property name="authValidImpl" ref="authValidImpl" />
	</bean>
	<bean class="com.genfu.reform.controller.GroupOrderitemController"
		scope="session" />
</beans>