@charset "utf-8";
.submit_tr {
	padding-top:10px;
	background-color: rgb(238, 246, 255);
	border: 1px solid rgb(238, 238, 238);
}
/* .search_div {
	border: 1px solid rgb(238, 238, 238); background-color: rgb(238, 246, 255);
}
.resultList {
	border: 1px solid rgb(238, 238, 238);
} */